.block-list{ display: flex; margin-bottom: $spacing;
  & .block-list__wrapper{ display: flex; flex-direction: column; padding: 0; text-decoration: none; color: inherit; position: relative; width: 100%;
    &:hover{color: inherit;text-decoration: none;}
    & .block-list__figure{flex-grow: 0; }
  }
  &.autoSize{flex-basis: 33.33%; min-width: 300px; flex-grow: 1; max-width: 100%;}
}
.block-list__wrapper{max-width: 100%; margin-bottom: $spacing; padding: $spacing; width: 100%; overflow: hidden; font-size: 0.9em;
  @include media-max(xs){margin-bottom: $spacing/2; padding: $spacing/2;}
  @extend
  %paper,
  %lift
  !optional;
  &:not([class*="bg-"]){background-color: color(white);}
  &>*:last-child:not([class*="m-bottom"]){margin-bottom: 0;}
  @each $key, $value in $colors{
    .content__bg--#{$key} &{ background-color: $value; }
    .headline--outer.content__bg--#{$key} & .block-list__headline>div{ background-color: rgba($value,1); }
  }
  .d-grid &{margin-bottom: 0;}
}
.block-list__figure{@extend %img-container; margin-bottom: 0;}

.block-list__content{padding: $spacing; position: relative; z-index: 1; flex-grow: 1; @include flex-container(column,wrap,center);
  @include media-max(xs){ padding: $spacing/2;}
  & p:last-of-type{margin-bottom: 0.2rem;}
}

.block-list__footer,
.block-list__headline{opacity: 0.6; @include flex-container(row,wrap,space-between); line-height: $spacing;
  &>div{font-size: 0.8rem; padding: 0.5rem;}
}
.block-list__headline{ margin-bottom: -$spacing;
  @include media-max(xs){ margin-bottom: -$spacing/2;}
  .headline--outer .block-list__figure+&{opacity: 1; position: absolute; left: 0;right: 0; top:0; margin: auto; line-height: 1;
    &>div{ font-weight: bold; font-size: 0.6rem; text-transform: uppercase;  background-color: color(white);
      &:first-child{left:0; border-bottom-right-radius: $radius*2;}
      &:last-child{right:0; border-bottom-left-radius: $radius*2;}
    }
  }
  .headline--disable &{display: none;}
}
.block-list__footer{margin-top: -$spacing; flex-direction: row-reverse; z-index: 1;
  @include media-max(xs){ margin-top: -$spacing/2;}
  .footer--disable &{display: none;}
}

.block-list__title{font-weight: bold; text-transform: uppercase;margin-bottom: 0.2rem;}

.block-list.content--inline{ flex-basis: 100%; max-width: none;
  & .block-list__wrapper{flex-direction: row;}
  & .block-list__figure{flex-basis: 33%; flex-shrink: 0;}
  & .block-list__wrapper__inner{@include flex-container(column); flex-grow: 1; width: 100%;}
}