.d-grid{display: grid; gap: $spacing;
  @include media-max(xs){gap: $spacing/2; }
  @for $index from 0 through 6{
    &.gap-#{$index}{gap: $spacing*$index;
      @include media-max(xs){gap: ($spacing*$index)/2;}
    }
    &.gap-#{$index}-em{gap: 1em*$index ;}
    &.gap-#{$index}-rem{gap: 1rem*$index ;}
  }
  @for $index from 1 through 12{
    &.cols-#{$index}{grid-template-columns: #{repeat('1fr ',$index)}; grid-template-columns: #{repeat('minmax(0,1fr) ',$index)};}
    &.rows-#{$index}{grid-template-rows: #{repeat('1fr ',$index)}; grid-template-rows: #{repeat('minmax(0,1fr) ',$index)};}
  }
  @each $key, $value in $breakpoints{
    @include media-max($key){
      @for $index from 1 through 12{
        &.cols-#{$key}-#{$index}{grid-template-columns: #{repeat('1fr ',$index)}; grid-template-columns: #{repeat('minmax(0,1fr) ',$index)};}
        &.rows-#{$key}-#{$index}{grid-template-rows: #{repeat('1fr ',$index)}; grid-template-rows: #{repeat('minmax(0,1fr) ',$index)};}
      }
    }
  }
  &>*{ margin-bottom: 0;
    @for $index from 1 through 12{
      &.cols-span-#{$index}{grid-column: span $index;}
      &.rows-span-#{$index}{grid-row: span $index;}
      @each $key, $value in $breakpoints{
        @include media-max($key){
          @for $index from 1 through 12{
            &.cols-span-#{$key}-#{$index}{grid-column: span $index;}
            &.rows-span-#{$key}-#{$index}{grid-row: span $index;}
          }
        }
      }
    }
  }
}

// GRID ORDERS
@for $index from 0 through 12{
  .cols-order-#{$index}{order: $index;}
  @each $key, $value in $breakpoints{
    .cols-order-#{$key}-#{$index}{
      @include media-max(#{$key}){
        order: $index;
      }
    }
  }
}
