<div class="row">
  <div class="list-block col-4">
    <a href="" class="list-block__wrapper">
      <div class="list-block__figure">
        <img src="../../img/san_francisco_tramway.jpg" alt="sample image">
      </div>
      <div class="list-block__content">
        <div class="list-block__headline">
          <div class="list-block__category">Article</div>
          <div class="list-block__date">01/01/1990</div>
        </div>
        <div class="list-block__title">Lorem ipsum dolor</div>
        <div class="list-block__text">
          <p>
            Lorem ipsum dolor sit amet lorem ipsum dolor sit amet Lorem ipsum dolor sit amet lorem ipsum dolor sit amet
            Lorem ipsum dolor sit amet...
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="list-block col-4">
    <a href="" class="list-block__wrapper">
      <div class="list-block__figure">
        <img src="../../img/san_francisco_tramway.jpg" alt="sample image">
      </div>
      <div class="list-block__content">
        <div class="list-block__title">Lorem ipsum dolor</div>
        <div class="list-block__text">
          <p>
            Lorem ipsum dolor sit amet lorem ipsum dolor sit amet Lorem ipsum dolor sit amet lorem ipsum dolor sit amet
            Lorem ipsum dolor sit amet...
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="list-block col-4">
    <a href="" class="list-block__wrapper">
      <div class="list-block__content">
        <div class="list-block__headline">
          <div class="list-block__category">Article</div>
          <div class="list-block__date">01/01/1990</div>
        </div>
        <div class="list-block__title">Lorem ipsum dolor</div>
        <div class="list-block__text">
          <p>
            Lorem ipsum dolor sit amet lorem ipsum dolor sit amet Lorem ipsum dolor sit amet lorem ipsum dolor sit amet
            Lorem ipsum dolor sit amet...
          </p>
        </div>
      </div>
    </a>
  </div>
</div>


<div class="constructor">
  <p>Image properties</p>
  <div class="input select" data-label="ratio" data-attr="class" data-value="r_1-1,r_2-1,r_1-2,r_16-9" data-output="1:1,2:1,1:2,16:9" data-selected=""></div>
  <p>Image alignement</p>
  <div class="input select" data-label="vertical" data-attr="class" data-value="img--top,img--bottom" data-output="Top,Bottom" data-selected="">
    Align the image only if cropped
  </div>
  <div class="input select" data-label="horizontal" data-attr="class" data-value="img--left,img--right" data-output="Left,Right" data-selected="">
    Align the image only if cropped
  </div>
  <p>Image effects on hover</p>
  <div class="input select" data-label="zoom" data-attr="class" data-value="zoomin,zoomout" data-output="Zoom in,Zoom out" data-selected="">
    Apply a zoom effect on hover. Can be stack with other effects.
  </div>
  <div class="input select" data-label="color fade" data-attr="class" data-value="fadetogrey,fadetocolor" data-output="Fade to grey,Fade to color" data-selected="">
    Apply a color effect on hover. Can be stack with other effects.
  </div>
  <p>Content properties</p>
  <div class="input checkbox" data-label="Headline disable" data-attr="class" data-value="headline--disable" data-selected=""></div>
  <div class="input checkbox" data-label="Headline outer" data-attr="class" data-value="headline--outer" data-selected="true"></div>
  <div class="input select" data-label="Font color" data-attr="class" data-value="ft-#colors" data-output="#colors" data-selected="">
    Set the content's font color
  </div>
  <div class="input select" data-label="Background color" data-attr="class" data-value="content__bg--#colors" data-output="#colors" data-selected="">
    Set the content's background color
  </div>
  <div class="input number" data-label="background opacity" data-attr="class" data-range="0-10" data-value="" data-prefix="content__bg__opacity--">
    Set transparency to the content's background. From 0 to 10, where 0 is non-visible and 10 is fully opaque.
  </div>
</div>