<div class="row">
  <div class="block-flip col-4 r_1-1">
    <a href="" class="block-flip__wrapper">
      <div class="block-flip__front">
        <img src="../../img/san_francisco_tramway.jpg" alt="sample image">
      </div>
      <div class="block-flip__back">
        <p>
          Lorem ipsum dolor sit amet lorem ipsum dolor sit amet Lorem ipsum dolor sit amet lorem ipsum dolor sit amet
          Lorem ipsum dolor sit amet...
        </p>
      </div>
    </a>
  </div>
  <div class="block-flip col-4 r_1-1">
    <a href="" class="block-flip__wrapper">
      <div class="block-flip__front">
        <img src="../../img/san_francisco_tramway.jpg" alt="sample image">
      </div>
      <div class="block-flip__back">
        <p>
          Lorem ipsum dolor sit amet lorem ipsum dolor sit amet Lorem ipsum dolor sit amet lorem ipsum dolor sit amet
          Lorem ipsum dolor sit amet...
        </p>
      </div>
    </a>
  </div>
  <div class="block-flip col-4 r_1-1">
    <a href="" class="block-flip__wrapper">
      <div class="block-flip__front">
        <img src="../../img/san_francisco_tramway.jpg" alt="sample image">
      </div>
      <div class="block-flip__back">
        <p>
          Lorem ipsum dolor sit amet lorem ipsum dolor sit amet Lorem ipsum dolor sit amet lorem ipsum dolor sit amet
          Lorem ipsum dolor sit amet...
        </p>
      </div>
    </a>
  </div>
</div>

<div class="constructor">
  <p>Front</p>
  <div class="input checkbox" data-label="Front visibility" data-attr="class" data-value="front--backface" data-selected="true">
    See Front's face from the Back
  </div>
  <p>Back</p>
  <div class="input select" data-label="Background" data-attr="class" data-value="back__bg--#colors" data-output="#colors" data-selected="back__bg--darkblue">
    Set the back face's background color
  </div>
  <div class="input number" data-label="Background opacity" data-attr="class" data-range="0-10" data-value="7" data-prefix="back__bg__opacity--">
    Set transparency to the back face's background. From 0 to 10, where 0 is non-visible and 10 is fully opaque.
  </div>
  <div class="input select" data-label="Font color" data-attr="class" data-value="ft-#colors" data-output="#colors" data-selected="ft-white">
    Set the back face's font color
  </div>
</div>