<a href="" class="btn" data-sidepanel="customPanel1">Open panel from left</a>
<div class="sidepanel" data-name="customPanel1" data-width="50vw" data-bg="green" data-direction="" data-openAuto="" data-openDelay="">
  <p class="ipsum" data-nb="1"></p>
  <a href="" class="btn" data-sidepanel="customPanel2">Open panel from top</a>
</div>

<a href="" class="btn" data-sidepanel="customPanel2">Open panel from top</a>
<div class="sidepanel" data-name="customPanel2" data-width="" data-bg="orange" data-direction="top" data-openAuto="" data-openDelay="">
  <p class="ipsum" data-nb="2"></p>
  <a href="" class="btn" data-sidepanel="customPanel3">Open panel from right</a>
</div>

<a href="" class="btn" data-sidepanel="customPanel3">Open panel from right</a>
<div class="sidepanel" data-name="customPanel3" data-width="50vw" data-bg="blue" data-direction="right" data-openAuto="" data-openDelay="">
  <p class="ipsum" data-nb="3"></p>
  <a href="" class="btn" data-sidepanel="customPanel4">Open panel from bottom</a>
</div>

<a href="" class="btn" data-sidepanel="customPanel4">Open panel from bottom</a>
<div class="sidepanel" data-name="customPanel4" data-width="" data-bg="gold" data-direction="bottom" data-openAuto="" data-openDelay="">
  <p class="ipsum" data-nb="4"></p>
  <a href="" class="btn" data-sidepanel="customPanel1">Open panel from left</a>
</div>