<button class="btn-load" data-text="Loading..." data-icon="false" data-result="false" data-reset="false" data-process="processFunction">Click me !</button>
<button class="btn-load" data-text="Loading..." data-process="processFunctionReject">Click me !</button>

<script>
  var processFunction = function processFunction(){
    return new Promise(function(resolve,reject){
        setTimeout(function(){
          resolve();
        },1000);
    });
  }

  var processFunctionReject = function processFunction(){
    return new Promise(function(resolve,reject){
        setTimeout(function(){
          reject();
        },1000);
    });
  }
</script>