// general looking
.select2-container {margin-bottom: $spacing; margin-right: $spacing;
  @include media-max(xs){
    margin-bottom: $spacing/2;
    margin-right: $spacing/2;
  }
}
.select2-container .select2-selection{@extend %input; height: auto; margin-bottom: 0px;}
.select2-wrapper{position: relative;}

// selection text field
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height: inherit; color: inherit;}
.select2-container .select2-selection--single .select2-selection__rendered{padding-left: 0;}

// arrow
.select2-container--default .select2-selection--single .select2-selection__arrow{height: 100%; width: $spacing;}
.select2-container--default .select2-selection--single .select2-selection__arrow b{border-color: currentColor transparent transparent; border-width: 8px 6px 0; margin-left: 0; margin-top: 0; transform: translate(-50%,-50%); }
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{border-color: transparent transparent currentColor; border-width: 0 6px 8px;}

// multiple
.select2-container--default .select2-selection--multiple{padding: 0 0.4em 0.4em;}
.select2-container .select2-selection--multiple .select2-selection__rendered{display: block;}
.select2-container--default .select2-selection--multiple .select2-selection__rendered{padding: 0;}
.select2-container--default .select2-selection--multiple .select2-selection__choice{line-height: 0.9; font-size: 0.9em; padding: .3em .4em .4em; margin: .4em .4em 0 0;}
.select2-container .select2-search--inline .select2-search__field{margin-top: 0.4em;}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{margin-right: 5px; margin-top: -1px; display: block; float: left;}

// dropdown

  @if input(radius) == false{
    border-radius: $radius;
  }
  @else{
    border-radius: 0;
  }
}
