<div class="sliderFW " data-height="400" data-loop="true" data-auto="">
  <div class="sliderFW__container">
    <div class="sliderFW__rail">
      <div class="sliderFW__item">
        <div class="sliderFW__item__bg">
          <img src="../../img/tramway_lego.jpg" alt="sample image">
        </div>
        <div class="sliderFW__item__content">
          <h3>Lorem ipsum</h3>
          <p>Lorem ipsum dolor sit amet</p>
          <button>Lorem</button>
        </div>
      </div>
      <div class="sliderFW__item">
        <div class="sliderFW__item__bg">
          <img src="../../img/san_francisco_tramway.jpg" alt="sample image">
        </div>
        <div class="sliderFW__item__content">
          <h3>Lorem ipsum</h3>
          <p>Lorem ipsum dolor sit amet</p>
          <button>Lorem</button>
        </div>
      </div>
      <div class="sliderFW__item">
        <div class="sliderFW__item__bg">
          <img src="../../img/tramway_lego.jpg" alt="sample image">
        </div>
        <div class="sliderFW__item__content">
          <h3>Lorem ipsum</h3>
          <p>Lorem ipsum dolor sit amet</p>
          <button>Lorem</button>
        </div>
      </div>
    </div>
  </div>
</div>