<div class="sliderFW" data-height="400" data-loop="" data-auto="">
  <div class="sliderFW__container">
    <div class="sliderFW__rail">
      <div class="sliderFW__item">
        <div class="sliderFW__item__bg">
          <img src="../../img/tramway_lego.jpg" alt="sample image">
        </div>
        <div class="sliderFW__item__content">
          <h3>Lorem ipsum</h3>
          <p>Lorem ipsum dolor sit amet</p>
          <button>Lorem</button>
        </div>
      </div>
      <div class="sliderFW__item">
        <div class="sliderFW__item__bg">
          <img src="../../img/san_francisco_tramway.jpg" alt="sample image">
        </div>
        <div class="sliderFW__item__content">
          <h3>Lorem ipsum</h3>
          <p>Lorem ipsum dolor sit amet</p>
          <button>Lorem</button>
        </div>
      </div>
      <div class="sliderFW__item">
        <div class="sliderFW__item__bg">
          <img src="../../img/tramway_lego.jpg" alt="sample image">
        </div>
        <div class="sliderFW__item__content">
          <h3>Lorem ipsum</h3>
          <p>Lorem ipsum dolor sit amet</p>
          <button>Lorem</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="constructor">
  <div class="input checkbox" data-label="Loop" data-attr="data-loop" data-selected="true"></div>
  <div class="input checkbox" data-label="Autoplay" data-attr="data-auto" data-selected=""></div>
  <div class="input select" data-label="nav vertical" data-attr="class" data-value="nav--bottom,nav--top" data-output="bottom,top" data-selected=""></div>
  <div class="input select" data-label="nav horizontal" data-attr="class" data-value="nav--left,nav--right" data-output="left,right" data-selected=""></div>
  <div class="input select" data-label="nav display" data-attr="class" data-value="nav--inner,nav--hidden" data-output="inner,hidden" data-selected=""></div>
  <div class="w-100"></div>
  <div class="input select" data-label="content position" data-attr="class" data-value="content--right,content--center" data-output="right,center" data-selected=""></div>
  <div class="input select" data-label="text position" data-attr="class" data-value="content__text--top,content__text--center" data-output="top,center" data-selected=""></div>
  <div class="w-100"></div>
  <div class="input checkbox" data-label="No blur" data-attr="class" data-value="content--noblur" data-selected=""></div>
</div>
