<div class="bg-{{color}} m-bottom">
  <span class="fl-right">bg-{{color}}</span>
  <div class="form-group clear">
    <label for="input21">Label ipsum</label>
    <input id="input21" type="text" placeholder="Input in a form-group">
  </div>
  <div class="form-group">
    <label for="input22">Label ipsum required invalid</label>
    <input id="input22" type="text" required placeholder="Input in a form-group">
  </div>
  <div class="form-group">
    <label for="input23">Label ipsum required valid</label>
    <input id="input23" type="text" required value="Value Ipsum" placeholder="Input in a form-group">
  </div>
  <div class="form-group">
    <label for="input37">Input range</label> - todo: script récupération et affichage valeur sélectionnée
    <input id="input37" type="range" min="0" max="100" value="50" step="5">
  </div>
  <div class="form-group">
    <label for="">Checkboxes</label>
    <input id="input38" type="checkbox" checked>
    <label for="input38">Label checkbox</label>
    <input id="input39" type="checkbox">
    <label for="input39">Label checkbox</label>
  </div>
  <div class="form-group">
    <label for="">Radios</label>
    <input name="inputRadio" id="input40" type="radio" checked>
    <label for="input40">Label radio</label>
    <input name="inputRadio" id="input41" type="radio">
    <label for="input41">Label radio</label>
  </div>
  <div class="form-group">
    <label for="input42">Select</label> - todo: custom script dropdown
    <select name="" id="input42">
      <option value="1">value 1</option>
      <option value="2">value 2</option>
      <option value="3">value 3</option>
    </select>
  </div>
</div>