<div class="tab">
  <div class="bd-darkblue m-bottom"><h5 class="">bd-darkblue</h5> Lorem ipsum dolor sit amet</div>
  <div class="bd-darkblue-top m-bottom"><h5 class="">bd-darkblue-top</h5> Lorem ipsum dolor sit amet</div>
  <div class="bd-darkblue-bottom m-bottom"><h5 class="">bd-darkblue-bottom</h5> Lorem ipsum dolor sit amet</div>
  <div class="bd-darkblue-left m-bottom">
    <h5 class="txt-center">bd-darkblue-left</h5>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
  </div>
  <div class="bd-darkblue-right m-bottom">
    <h5 class="txt-center">bd-darkblue-right</h5>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
  </div>
  <div class="bd-darkblue-left bd-green-top m-bottom">
    <h5 class="txt-center">bd-darkblue-left bd-green-top</h5>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
  </div>
  <div class="bd-darkblue-right bd-green-bottom m-bottom">
    <h5 class="txt-center">bd-darkblue-right bd-green-bottom</h5>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
  </div>
  <div class="bd-darkblue-10 bd-blue-left-5 bd-orange-bottom bd-green-right-2 m-bottom">
    <h5 class="txt-center">bd-darkblue-10 bd-blue-left-5 bd-orange-bottom bd-green-right-2</h5>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
  </div>
</div>