<div class="tab">
  <div class="form-group">
    <label for="input19">Textarea</label>
    <textarea name="" id="input19"></textarea>
  </div>
  <div class="form-group">
    <label for="input7">Input password</label>
    <input id="input7" type="password" placeholder="Placeholder ipsum" value="passwordipsum">
  </div>
  <div class="form-group">
    <label for="input8">Input email</label>
    <input id="input8" type="email" placeholder="Placeholder ipsum" value="lorem@ipsum.dolor">
  </div>
  <div class="form-group">
    <label for="input9">Input email with invalid value</label>
    <input id="input9" type="email" placeholder="Placeholder ipsum" value="loremipsum.dolor">
  </div>
  <div class="form-group">
    <label for="input10">Input tel</label> - todo: script ajoutant pattern (contextuel localité) ?
    <input id="input10" type="tel" placeholder="Placeholder ipsum">
  </div>
  <div class="form-group">
    <label for="input11">Input url</label> - todo: script ajoutant "http://" automatiquement au début de l'input
    <input id="input11" type="url" placeholder="Placeholder ipsum">
  </div>
  <div class="form-group">
    <label for="input12">Input date</label>
    <input id="input12" type="date" placeholder="Placeholder ipsum">
  </div>
  <div class="form-group">
    <label for="input13">Input number</label>
    <input id="input13" type="number">
  </div>
</div>