<div class="tab">
  <h3>Buttons</h3>
  <div class="">
    <button class="btn-sm">btn-sm (button)</button><br>
    <button class="">btn (button)</button><br>
    <button class="btn-lg">btn-lg (button)</button>
  </div>
  <h3>Buttons inputs</h3>
  <div>
    <input type="button" class="btn-sm" value="btn-sm (input type button)"><br>
    <input type="button" class="" value="btn (input type button)"><br>
    <input type="button" class="btn-lg" value="btn-lg (input type button)"><br>
    <input type="submit" class="btn-sm" value="btn-sm (input type submit)"><br>
    <input type="submit" class="" value="btn (input type submit)"><br>
    <input type="submit" class="btn-lg" value="btn-lg (input type submit)">
  </div>
  <h3>Buttons a</h3>
  <div  class="">
    <a href="#" class="btn-sm">btn-sm (a)</a><br>
    <a href="#" class="btn">btn (a)</a><br>
    <a href="#" class="btn-lg">btn-lg (a)</a>
  </div>
</div>