<nav class="bg-greystronger">
  <ul>
    <li><a href="#framway__config">Config</a></li>
    <li>
      <a href="#framway__manual">Manual</a>
      {{{manual.nav}}}
    </li>
    <li>
      <a href="#framway__styling">Styles</a>
      {{{styling.nav}}}
    </li>
    <li>
      <a href="#framway__components">Components</a>
      {{{components.nav}}}
    </li>
  </ul>
</nav>
<div class="content container-fluid p-x-x2 p-top">
  <h1>Framway's config & guideline</h1>
  <div class="item" id="framway__config">
    <div class="row">
      {{{config}}}
    </div>
  </div>
  <div class="item" id="framway__manual">
      {{{manual.content}}}
  </div>
  <div class="item" id="framway__styling">
      {{{styling.content}}}
  </div>
  <div class="item" id="framway__components">
      {{{components.content}}}
  </div>
</div>