<div class="tab">
  <div class="form-group">
    <label for="input14">Input range</label> - todo: script récupération et affichage valeur sélectionnée
    <input id="input14" type="range" min="0" max="100" value="50" step="5">
  </div>
  <div class="form-group">
    <label for="input19">Input number</label><br>
    <input id="input19" type="number" min="0" max="10" value="5" step="1">
  </div>
  <div class="form-group">
    <label for="">Checkboxes</label>
    <input id="input15" type="checkbox" checked>
    <label for="input15">Label checkbox</label>
    <input id="input16" type="checkbox">
    <label for="input16">Label checkbox</label>
  </div>
  <div class="form-group">
    <label for="">Radios</label>
    <input name="inputRadio" id="input17" type="radio" checked>
    <label for="input17">Label radio</label>
    <input name="inputRadio" id="input18" type="radio">
    <label for="input18">Label radio</label>
  </div>
  <div class="form-group">
    <label for="input20">Select</label> - todo: custom script dropdown
    <select name="" id="input20">
      <option value="1">value 1</option>
      <option value="2">value 2</option>
      <option value="3">value 3</option>
    </select>
  </div>
</div>