<div class="tab">
  <h4 class="sep-top">lorem ipsum (h4) - sep-top</h4>
  <h4 class="sep-bottom">lorem ipsum (h4) - sep-bottom</h4>
  <h4 class="sep-top sep-bottom">lorem ipsum (h4) - sep-top sep-bottom</h4>

  <h4 class="sep-left">lorem ipsum (h4) - sep-left</h4>
  <h4 class="sep-right-green">lorem ipsum (h4) - sep-right-green</h4>
  <h4 class="sep-left-orange sep-right">lorem ipsum (h4) - sep-left-orange sep-right</h4>
  <h4 class="sep-left-orange sep-right-green">lorem ipsum (h4) - sep-left-orange sep-right-green</h4>
</div>