<div class="tab">
  <div class="bd m-bottom"><h5 class="">bd</h5> Lorem ipsum dolor sit amet</div>
  <div class="bd-top m-bottom"><h5 class="">bd-top</h5> Lorem ipsum dolor sit amet</div>
  <div class="bd-bottom m-bottom"><h5 class="">bd-bottom</h5> Lorem ipsum dolor sit amet</div>
  <div class="bd-left m-bottom">
    <h5 class="txt-center">bd-left</h5>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
  </div>
  <div class="bd-right m-bottom">
    <h5 class="txt-center">bd-right</h5>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
  </div>
  <div class="bd-left bd-top-green m-bottom">
    <h5 class="txt-center">bd-left bd-top-green</h5>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
  </div>
  <div class="bd-right bd-bottom-green m-bottom">
    <h5 class="txt-center">bd-right bd-bottom-green</h5>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
  </div>
  <div class="bd-10 bd-left-grey-5 bd-bottom-orange bd-right-green-2 m-bottom">
    <h5 class="txt-center">bd-10 bd-grey-left-5 bd-bottom-orange bd-right-green-2</h5>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
    Lorem ipsum dolor sit amet<br>
  </div>
</div>