.block-img{max-width: 100%; margin-bottom: $spacing;
  &.title--fadein,
  &.title--fadeout{@extend .title--inner;}
  &[class*="title--from"]{@extend .title--full;}
}
.block-img__wrapper{
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%;
  @include flex-container(column);
  @extend %paper,%lift !optional;
  *[class*="r_"] &{display: block; height: auto;}
  &:hover{color: inherit; text-decoration: none;}
}
.block-img__figure{position: relative; overflow: hidden; @include flex-grow();  width: 100%; order: 1;
  & img{height: 100%; width: 100%; object-fit: cover;
    pointer-events: none;
  }
  *[class*="r_"] &{
    &:before{content: ""; width: 1px; margin-left: -1px; float: left; height: 0; padding-top: 100%;}
    &:after {content: ""; display: table; clear: both;}
    & img{width: 100%; height: 100%;object-fit: cover; position: absolute; left: 0; top: 0;}
  }
  @each $side_1 in $sides {
    @if $side_1 == 'left' or $side_1 == 'right' {
      *[class*="r_"].img--#{$side_1} & img{ object-fit: cover; object-position:#{$side_1}; }
      @each $side_2 in $sides {
        @if $side_2 == 'top' or $side_2 == 'bottom' {
          *[class*="r_"].img--#{$side_2} & img{ object-fit: cover; object-position:#{$side_2}; }
          *[class*="r_"].img--#{$side_1}.img--#{$side_2} & img{ object-fit: cover; object-position:#{$side_1+' '+$side_2}; }
        }
      }
    }
  }

  .r_16-9 &:before{padding-top: 56.25%;}
  .r_2-1 &:before {padding-top: 50%;}
  .r_1-1 &:before {padding-top: 100%;}
  .r_1-2 &:before {padding-top: 200%;}
}
.block-img__title{
  @include flex-container(row,wrap,center,center);
  width: 100%;
  padding: $spacing/2;
  background-color: body(font-color);
  color: body(background);
  text-align: center;
  order: 1;
  .title--inner &{position: absolute; bottom: 0;}
  .title--inner.title--top &{bottom: auto; top:0}
  .title--top &{order: 0}
  .title--full &{position: absolute; top: 0; width: 100%; height: 100%;}

  .title--fadeout &,
  .title--fadein &{transition: opacity 0.6s;}
  .title--fadein &,
  .title--fadeout:hover &{ opacity: 0;}
  .title--fadeout &,
  .title--fadein:hover &{ opacity: 1;}

  .title--fromtop &{transform: translate3d(0,-101%,0);}
  .title--frombottom &{transform: translate3d(0,101%,0);}
  .title--fromleft &{transform: translate3d(-101%,0,0);}
  .title--fromright &{transform: translate3d(101%,0,0);}
  [class*="title--from"] &{transition: transform 0.6s; opacity: 1;}
  [class*="title--from"]:hover &{transform: translate3d(0,0,0); opacity: 1;}

  .title__text--left &{@include justify-content(flex-start);}
  .title__text--right &{@include justify-content(flex-end);}
  .title__text--top &{@include align-items(flex-start);}
  .title__text--bottom &{@include align-items(flex-end);}

  @for $index from 0 through 10 {
    .title__opacity--#{$index} &{background-color: rgba(body(font-color), $index*.1);}
  }
}