<div class="row zoomin fadetogrey">
  <div class="block-img col-6 ">
    <a href="" class="block-img__wrapper">
      <div class="block-img__figure">
        <img src="../../img/san_francisco_tramway.jpg" alt="sample image">
      </div>
      <div class="block-img__title">
        Native ratio - fit with the largest img in the row
      </div>
    </a>
  </div>
  <div class="block-img col-6 ">
    <a href="" class="block-img__wrapper">
      <div class="block-img__figure">
        <img src="../../img/tramway_lego.jpg" alt="sample image">
      </div>
      <div class="block-img__title">
        Native ratio - fit with the largest img in the row
      </div>
    </a>
  </div>
  <div class="block-img r_1-1 col-4">
    <div href="" class="block-img__wrapper">
      <div class="block-img__figure">
        <img src="../../img/tramway_lego.jpg" alt="sample image">
      </div>
      <div class="block-img__title ">
        ratio 1:1
      </div>
    </div>
  </div>
  <div class="block-img r_2-1 col-4 ">
    <a href="" class="block-img__wrapper">
      <div class="block-img__figure">
        <img src="../../img/tramway_lego.jpg" alt="sample image">
      </div>
      <div class="block-img__title">
        ratio 2:1
      </div>
    </a>
  </div>
  <div class="block-img r_16-9 col-4 ">
    <a href="" class="block-img__wrapper">
      <div class="block-img__figure">
        <img src="../../img/tramway_lego.jpg" alt="sample image">
      </div>
      <div class="block-img__title">
        ratio 16:9
      </div>
    </a>
  </div>
  <div class="block-img r_1-1 col-4">
    <div href="" class="block-img__wrapper">
      <div class="block-img__figure">
        <img src="../../img/tramway_lego.jpg" alt="sample image">
      </div>
      <div class="block-img__title ">
        ratio 1:1 - align center (default)
      </div>
    </div>
  </div>
  <div class="block-img r_1-1 h-left col-4">
    <div href="" class="block-img__wrapper">
      <div class="block-img__figure">
        <img src="../../img/tramway_lego.jpg" alt="sample image">
      </div>
      <div class="block-img__title ">
        ratio 1:1 - align left
      </div>
    </div>
  </div>
  <div class="block-img r_1-1 h-right col-4">
    <div href="" class="block-img__wrapper">
      <div class="block-img__figure">
        <img src="../../img/tramway_lego.jpg" alt="sample image">
      </div>
      <div class="block-img__title ">
        ratio 1:1 - align right
      </div>
    </div>
  </div>
  <div class="block-img r_2-1 col-4 ">
    <a href="" class="block-img__wrapper">
      <div class="block-img__figure">
        <img src="../../img/tramway_lego.jpg" alt="sample image">
      </div>
      <div class="block-img__title">
        ratio 2:1 - align center (default)
      </div>
    </a>
  </div>
  <div class="block-img r_2-1 v-top col-4 ">
    <a href="" class="block-img__wrapper">
      <div class="block-img__figure">
        <img src="../../img/tramway_lego.jpg" alt="sample image">
      </div>
      <div class="block-img__title">
        ratio 2:1 - align top
      </div>
    </a>
  </div>
  <div class="block-img r_2-1 v-bottom col-4 ">
    <a href="" class="block-img__wrapper">
      <div class="block-img__figure">
        <img src="../../img/tramway_lego.jpg" alt="sample image">
      </div>
      <div class="block-img__title">
        ratio 2:1 - align bottom
      </div>
    </a>
  </div>
</div>