<div class="row">
  <div class="block-img col-6">
    <a href="" class="block-img__wrapper">
      <div class="block-img__figure">
        <img src="../../img/san_francisco_tramway.jpg" alt="sample image">
      </div>
      <div class="block-img__content">
        Lorem ipsum dolor sit amet
      </div>
    </a>
  </div>
</div>
<div class="constructor">
  <p>Image properties</p>
  <div class="input select" data-label="ratio" data-attr="class" data-value="r_1-1,r_2-1,r_1-2,r_16-9,r_4-3" data-output="1:1,2:1,1:2,16:9,4:3" data-selected=""></div>
  <p>Image alignement</p>
  <div class="input select" data-label="vertical" data-attr="class" data-value="img--top,img--bottom" data-output="Top,Bottom" data-selected="">
    Align the image only if cropped
  </div>
  <div class="input select" data-label="horizontal" data-attr="class" data-value="img--left,img--right" data-output="Left,Right" data-selected="">
    Align the image only if cropped
  </div>
  <p>Image effects on hover</p>
  <div class="input select" data-label="zoom" data-attr="class" data-value="zoomin,zoomout" data-output="Zoom in,Zoom out" data-selected="">
    Apply a zoom effect on hover. Can be stack with other effects.
  </div>
  <div class="input select" data-label="color fade" data-attr="class" data-value="fadetogrey,fadetocolor" data-output="Fade to grey,Fade to color" data-selected="">
    Apply a color effect on hover. Can be stack with other effects.
  </div>
  <p>Text alignement</p>
  <div class="input select" data-label="horizontal" data-attr="class" data-value="content__text--left,content__text--right" data-output="Text left,Text right" data-selected="">
    Align the text in its container.
  </div>
  <div class="input select" data-label="vertical" data-attr="class" data-value="content__text--top,content__text--bottom" data-output="Text top,Text bottom" data-selected="">
    Align the text in its container. Only apply on a full height container.
  </div>
  <p>Content properties</p>
  <div class="input select" data-label="format" data-attr="class" data-value="content--inner,content--full"  data-output="Inner,Full width"  data-selected="content--inner">
    <b>Inner</b>: place the content container in the block. (over the image)<br>
    <b>Full width</b>: the container will take all remaining space. (include <b>Inner</b>)
  </div>
  <div class="input select" data-label="Font color" data-attr="class" data-value="ft-#colors" data-output="#colors" data-selected="">
    Set the content's font color
  </div>
  <div class="input select" data-label="Background color" data-attr="class" data-value="content__bg--#colors" data-output="#colors" data-selected="">
    Set the content's background color
  </div>
  <div class="input number" data-label="background opacity" data-attr="class" data-range="0-10" data-value="" data-prefix="content__bg__opacity--">
    Set transparency to the content's background. From 0 to 10, where 0 is non-visible and 10 is fully opaque.
  </div>
  <p>Content effects on hover</p>
  <div class="input select" data-label="translate" data-attr="class" data-value="content--fromtop,content--frombottom,content--fromleft,content--fromright" data-output="From top,From bottom,From left,From right" data-selected="">
    Make the content appears on hover from the indicated side. Non stackable with fade effects.<br>
    Include: <b>Inner, Full width</b>
  </div>
  <div class="input select" data-label="fade" data-attr="class" data-value="content--fadein,content--fadeout" data-output="Fade in,Fade out" data-selected="">
    Apply a fading effect on hover. Non stackable with translate effects.<br>
    Include: <b>Inner</b>
  </div>
</div>
