<div class="row">
  <div class="block-img col-6">
    <a href="" class="block-img__wrapper">
      <div class="block-img__figure">
        <img src="../../img/san_francisco_tramway.jpg" alt="sample image">
      </div>
      <div class="block-img__title">
        Lorem ipsum dolor sit amet
      </div>
    </a>
  </div>
</div>
<div class="constructor">
  <div class="input select" data-label="text horizontal" data-attr="class" data-value="title__text--left,title__text--right" data-output="Text left,Text right" data-selected=""></div>
  <div class="input select" data-label="text vertical" data-attr="class" data-value="title__text--top,title__text--bottom" data-output="Text top,Text bottom" data-selected=""></div>
  <!-- <div class="input select" data-label="title position" data-attr="class" data-value="title--top,title--full" data-output="Title top,Title full" data-selected=""></div> -->
  <div class="input select" data-label="title translate" data-attr="class" data-value="title--fromtop,title--frombottom,title--fromleft,title--fromright" data-output="From top,From bottom,From left,From right" data-selected=""></div>
  <div class="input select" data-label="title fade" data-attr="class" data-value="title--fadein,title--fadeout" data-output="Fade in,Fade out" data-selected=""></div>
  <div class="w-100"></div>
  <div class="input checkbox" data-label="Title inner" data-attr="class" data-value="title--inner" data-selected=""></div>
  <div class="input checkbox" data-label="Title full" data-attr="class" data-value="title--full" data-selected=""></div>
  <div class="input number" data-label="Title opacity" data-attr="class" data-range="0-10" data-value="" data-prefix="title__opacity--"></div>
  <div class="w-100"></div>
  <div class="input select" data-label="img zoom" data-attr="class" data-value="zoomin,zoomout" data-output="Zoom in,Zoom out" data-selected=""></div>
  <div class="input select" data-label="img fade" data-attr="class" data-value="fadetogrey,fadetocolor" data-output="Fade to grey,Fade to color" data-selected=""></div>
  <div class="input select" data-label="img vertical" data-attr="class" data-value="img--top,img--bottom" data-output="Top,Bottom" data-selected=""></div>
  <div class="input select" data-label="img horizontal" data-attr="class" data-value="img--left,img--right" data-output="Left,Right" data-selected=""></div>
  <div class="input select" data-label="img ratio" data-attr="class" data-value="r_1-1,r_2-1,r_1-2,r_16-9" data-output="1:1,2:1,1:2,16:9" data-selected=""></div>
</div>
