<h3>Syntax</h3>
<div class="block-std center txt-center">opa-<span class="tag">value</span></div>
<h3>Example</h3>
<div class="block-std center txt-center"><span class="tag">opa-5</span></div>
<h3>Rules</h3>
<div class="block-std">
  <ul class="m-top">
    <li class="m-bottom">
      <span class="tag">value</span> is a number between 0 and 9, corresponding to the css property value of opacity (<span class="tag">value</span>/10 )<br>
      <i>Example: <span class="tag">opa-5</span> will set the element's opacity to 0.5, <span class="tag">opa-9</span> to 0.9, <span class="tag">opa-0</span> to 0, etc...</i>
    </li>
  </ul>
</div>