<div class="foldingbox" data-height="" data-break="md">
  <div class="foldingbox__title">
    <h2>LOREM IPSUM DOLOR</h2>
  </div>
  <div class="foldingbox__container">
    <div class="foldingbox__item">
      <div class="foldingbox__item__bg">
        <img src="../../img/tramway_lego.jpg" alt="sample image">
      </div>
      <div class="foldingbox__item__content">
        <h3>Lorem ipsum</h3>
        <p>Lorem ipsum dolor sit amet</p>
        <button>Lorem</button>
      </div>
    </div>
    <div class="foldingbox__item">
      <div class="foldingbox__item__bg">
        <img src="../../img/tramway_lego.jpg" alt="sample image">
      </div>
      <div class="foldingbox__item__content">
        <h3>Lorem ipsum</h3>
        <p>
          Proinde die funestis interrogationibus praestituto imaginarius iudex equitum resedit magister adhibitis aliis iam quae essent agenda praedoctis, et adsistebant hinc inde notarii, quid quaesitum esset, quidve responsum, cursim ad Caesarem perferentes, cuius imperio truci, stimulis reginae exsertantis aurem subinde per aulaeum, nec diluere obiecta permissi nec defensi periere conplures.
        </p>
        <button>Lorem</button>
      </div>
    </div>
    <div class="foldingbox__item">
      <div class="foldingbox__item__bg">
        <img src="../../img/tramway_lego.jpg" alt="sample image">
      </div>
      <div class="foldingbox__item__content">
        <h3>Lorem ipsum</h3>
        <p>Lorem ipsum dolor sit amet</p>
        <button>Lorem</button>
      </div>
    </div>
  </div>
</div>
<!-- <div class="constructor"> -->
  <!-- <div class="input select" data-label="hover zoom" data-attr="class" data-name="zoom" data-value="zoomin,zoomout" data-output="Zoom in,Zoom out" data-selected="zoomin"></div> -->
<!-- </div> -->
