<div class="foldingbox">
  <div class="foldingbox__title">
    <h2>LOREM IPSUM DOLOR</h2>
  </div>
  <div class="foldingbox__container">
    <div class="foldingbox__item">
      <div class="foldingbox__item__bg">
        <img src="../../img/tramway_lego.jpg" alt="sample image">
      </div>
      <div class="foldingbox__item__content">
        <h3>Lorem ipsum</h3>
        <p>Lorem ipsum dolor sit amet</p>
        <button>Lorem</button>
      </div>
    </div>
    <div class="foldingbox__item">
      <div class="foldingbox__item__bg">
        <img src="../../img/tramway_lego.jpg" alt="sample image">
      </div>
      <div class="foldingbox__item__content">
        <h3>Lorem ipsum</h3>
        <p>Lorem ipsum dolor sit amet</p>
        <button>Lorem</button>
      </div>
    </div>
    <div class="foldingbox__item">
      <div class="foldingbox__item__bg">
        <img src="../../img/tramway_lego.jpg" alt="sample image">
      </div>
      <div class="foldingbox__item__content">
        <h3>Lorem ipsum</h3>
        <p>Lorem ipsum dolor sit amet</p>
        <button>Lorem</button>
      </div>
    </div>
  </div>
</div>