.heroFW{ margin-bottom: $spacing; padding: 0; background-color: body(background); font-size: 1.25rem; font-weight: 300;
  &.width--content{width: fit-content;}
  &[class*="ft-"] .heroFW__content *:not([class*="btn"]){color: inherit;}
  @for $index from 1 through 6{
    & h#{$index},
    & .h#{$index}{margin-bottom: 0.5rem;}
    &.title--1{
      & h#{$index},
      & .h#{$index}{font-size:6rem;font-size: calc(1.2rem + 6vw); line-height: 1.2;font-weight: 300;}
    }
    &.title--2{
      & h#{$index},
      & .h#{$index}{font-size:5.5rem;font-size: calc(1.2rem + 5.5vw); line-height: 1.2;font-weight: 300;}
    }
    &.title--3{
      & h#{$index},
      & .h#{$index}{font-size:4.5rem;font-size: calc(1.2rem + 4.5vw); line-height: 1.2;font-weight: 300;}
    }
    &.title--4{
      & h#{$index},
      & .h#{$index}{font-size:3.5rem;font-size: calc(1.2rem + 3.5vw); line-height: 1.2;font-weight: 300;}
    }
  }
}
.heroFW__wrapper{text-decoration: none; color: inherit; overflow: hidden; position: relative; display: block; width: 100%; height: 100%; }
.heroFW__figure{width: 100%; height: 100%;
  .width--content &,
  .height--content &{position: absolute;}
  @for $index from 0 through 10 {
    .figure__opacity--#{$index} &{opacity: $index*.1;}
  }
  & img{@include object-fit(cover); width: 100%;height: 100%;}
  @each $side_1 in $sides {
    @if $side_1 == 'left' or $side_1 == 'right' {
      .img--#{$side_1} & img{ object-fit: cover; object-position:#{$side_1}; }
      @each $side_2 in $sides {
        @if $side_2 == 'top' or $side_2 == 'bottom' {
          .img--#{$side_2} & img{ object-fit: cover; object-position:#{$side_2}; }
          .img--#{$side_1}.img--#{$side_2} & img{ object-fit: cover; object-position:#{$side_1+' '+$side_2}; }
        }
      }
    }
  }
}
.heroFW__content{position: absolute; z-index: 0; left: 0; top: 0; width: 100%;height: 100%; padding: $spacing*2; @include flex-container(row,wrap,flex-start,center);
  .width--content &,
  .height--content &{position: relative;}
  @include media-min(md){padding: $spacing*2 15vw;}
  @include media-max(xxs){ padding: $spacing;}
  .heroFW[class*="content--"] &{padding:$spacing*2;
    @include media-max(xxs){ padding: $spacing;}
  }

  // deprecated
  // .heroFW[class*="content--"][class*="--center"] &{justify-content: center; align-items: center;}
  // .heroFW[class*="content--"][class*="--left"] &{justify-content: flex-start;}
  // .heroFW[class*="content--"][class*="--right"] &{justify-content: flex-end;}
  // .heroFW[class*="content--"][class*="--top"] &{align-items: flex-start;}
  // .heroFW[class*="content--"][class*="--bottom"] &{align-items: flex-end;}
  //end deprecated

  .heroFW.content--h--center &{justify-content: center;}
  .heroFW.content--h--left &{justify-content: flex-start;}
  .heroFW.content--h--right &{justify-content: flex-end;}
  .heroFW.content--v--center &{ align-items: center;}
  .heroFW.content--v--top &{align-items: flex-start;}
  .heroFW.content--v--bottom &{align-items: flex-end;}

  @each $key, $value in $colors{
    .content__bg--#{$key} &:after{@include pseudo(); top: 0; left: 0; width: 100%; height: 100%; z-index: -1; background-color: $value;}
  }
  @for $index from 0 through 10 {
    .content__bg__opacity--#{$index} &:after{opacity: $index*.1;}
  }
  & .heroFW__content__wrapper{ max-width: 100%;
    & *:last-child{margin-bottom: 0;}
  }
}