<div class="heroFW">
  <div class="heroFW__wrapper">
    <div class="heroFW__figure">
      <img src="../../img/san_francisco_tramway.jpg" alt="sample image">
    </div>
    <div class="heroFW__content">
      <div class="heroFW__content__wrapper">
        <h3>Lorem ipsum</h3>
        <p>Lorem ipsum dolor sit amet</p>
        <button>Lorem</button>
      </div>
    </div>
  </div>
</div>
<div class="constructor">
  <p>Image properties</p>
  <div class="input number" data-label="Image opacity" data-attr="class" data-range="0-10" data-value="" data-prefix="figure__opacity--">
    Set transparency to the background img. From 0 to 10, where 0 is non-visible and 10 is fully opaque.
  </div>
  <p>Image alignement</p>
  <div class="input select" data-label="vertical" data-attr="class" data-value="img--top,img--bottom" data-output="Top,Bottom" data-selected="">
    Align the image only if cropped
  </div>
  <div class="input select" data-label="horizontal" data-attr="class" data-value="img--left,img--right" data-output="Left,Right" data-selected="">
    Align the image only if cropped
  </div>
  <p>Content properties</p>
  <div class="input select" data-label="Position" data-attr="class" data-value="content--left--top,content--left--center,content--left--bottom,content--right--top,content--right--center,content--right--bottom,content--center"  data-output="Left Top,Left Center,Left Bottom,Rigth Top,Rigth Center,Rigth Bottom,Center Center"  data-selected="">
    Adjust the content position in the block
  </div>
  <div class="input select" data-label="Font color" data-attr="class" data-value="ft-#colors" data-output="#colors" data-selected="ft-white">
    Align the image only if cropped
  </div>
  <div class="input select" data-label="Background color" data-attr="class" data-value="content__bg--#colors" data-output="#colors" data-selected="content__bg--darkblue">
    Align the image only if cropped
  </div>
  <div class="input number" data-label="background opacity" data-attr="class" data-range="0-10" data-value="6" data-prefix="content__bg__opacity--">
    Set transparency to the content's background. From 0 to 10, where 0 is non-visible and 10 is fully opaque.
  </div>
  <p>Misc</p>
  <div class="input checkbox" data-label="Force full width" data-attr="class" data-value="force-full" data-selected=""></div>
</div>