#guideline{height: 100vh;  @include flex-container();
  &:before{ content:""; display: block; @include size(100vw,100vh); background: url('./../img/san_francisco_tramway.jpg') center center no-repeat; background-size: cover; position: absolute; top: 0; left: 0; z-index: -1; opacity: 0.3; @include filter(blur(2px)) }
}
#guideline nav{ padding: $spacing $spacing $spacing $spacing/2;}
#guideline nav a{text-decoration: none; &.active{text-decoration: underline;}}
#guideline .content{height: 100vh;width: 100%; overflow: auto;}

#guideline .content .item{ padding: $spacing 0 $spacing;
  &:not(.active){display: none;}
  &>.item{padding: 0;}
}

.editor{position: relative;font-size: 0.8em;}
.editor textarea{ resize: none; overflow: hidden;  font-family: monospace; background: color(blacklight); color: color(white); padding: $spacing/2; border-radius: $radius;  margin-bottom: $spacing; border: 0;}
.editor .copy{position: absolute; right: $spacing/2; top:$spacing/2; @extend .btn-sm; z-index: 1; opacity: 0.5;
  &:hover{opacity: 1;}
}

#guideline .tag {
  background: #fff;
  border: 1px solid #ddd;
  display: inline-block;
  padding: 5px 8px;
  height: auto;
  margin: 2.5px;
  border-radius: 0.3em;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  color: inherit;
  font-family: monospace;
  font-size: 0.9em;
}

#guideline *[class*="constructor"]{
  & p{ width: 100%; border-bottom: 1px solid #666; margin: 0 15px 1rem; padding-bottom: 1rem; font-weight: bold;}
  & label{font-size: 0.8rem;}
  & .descIcon{float: right; font-size: 1.2em; margin: 0.3em; cursor: pointer;
    &:hover+.descText{opacity: 1;visibility: visible;}
  }
  & .descText{@extend %paper !optional; background-color: #fff; left: 0;right: 0;margin: auto; padding: 15px; font-size: 0.8em; position: absolute; width: fit-content; max-width: 80%; opacity: 0; visibility: hidden; transition: all 0.3s;
    &:hover{opacity: 1;visibility: visible;}
  }
}