<div class="accordionFW">
  <div class="accordionFW__item ">
    <div class="accordionFW__title">Accordion title</div>
    <div class="accordionFW__content">
      <p>
        Zombies reversus ab inferno, This is a link nam malum cerebro. De carne This is a disabled link animata corpora quaeritis. Summus sit​​, morbo vel maleficia? De Apocalypsi undead dictum mauris. Hi mortuis soulless creaturas, imo monstra adventus vultus comedat cerebella viventium. Qui offenderit rapto, terribilem incessu. The voodoo sacerdos suscitat mortuos comedere carnem. Search for solum oculi eorum defunctis cerebro. Nescio an Undead zombies. Sicut malus movie horror.
      </p>
    </div>
  </div>
  <div class="accordionFW__item lock">
    <div class="accordionFW__title">Accordion title (locked)</div>
    <div class="accordionFW__content">
      <p>
        Zombies reversus ab inferno, This is a link nam malum cerebro. De carne This is a disabled link animata corpora quaeritis. Summus sit​​, morbo vel maleficia? De Apocalypsi undead dictum mauris. Hi mortuis soulless creaturas, imo monstra adventus vultus comedat cerebella viventium. Qui offenderit rapto, terribilem incessu. The voodoo sacerdos suscitat mortuos comedere carnem. Search for solum oculi eorum defunctis cerebro. Nescio an Undead zombies. Sicut malus movie horror.
      </p>
    </div>
  </div>
  <div class="accordionFW__item">
    <div class="accordionFW__title">Accordion title</div>
    <div class="accordionFW__content">
      <p>
        Zombies reversus ab inferno, This is a link nam malum cerebro. De carne This is a disabled link animata corpora quaeritis. Summus sit​​, morbo vel maleficia? De Apocalypsi undead dictum mauris. Hi mortuis soulless creaturas, imo monstra adventus vultus comedat cerebella viventium. Qui offenderit rapto, terribilem incessu. The voodoo sacerdos suscitat mortuos comedere carnem. Search for solum oculi eorum defunctis cerebro. Nescio an Undead zombies. Sicut malus movie horror.
      </p>
    </div>
  </div>
</div>

<div class="constructor">
  <p>Misc</p>
  <div class="input checkbox" data-label="Deploy all" data-attr="data-deployall" data-selected="">
    Deploy all items at start (default to false)
  </div>
  <div class="input checkbox" data-label="Disable collapse" data-attr="data-disable" data-selected="">
    Disable the items collapsibility (default to false)
  </div>
  <div class="input checkbox" data-label="Auto collapse" data-attr="data-autocollapse" data-selected="">
    Collapse every other items when deploying one (default to false)
  </div>
</div>
