<div class="FWslider">
  <div class="FWslider__container">
    <div class="FWslider__rail">
      <div class="FWslider__item">
        <div class="FWslider__item__bg">
          <img src="../../img/tramway_lego.jpg" alt="sample image">
        </div>
        <div class="FWslider__item__content">
          <h3>Lorem ipsum</h3>
          <p>Lorem ipsum dolor sit amet</p>
          <button>Lorem</button>
        </div>
      </div>
      <div class="FWslider__item">
        <div class="FWslider__item__bg">
          <img src="../../img/tramway_lego.jpg" alt="sample image">
        </div>
        <div class="FWslider__item__content">
          <h3>Lorem ipsum</h3>
          <p>Lorem ipsum dolor sit amet</p>
          <button>Lorem</button>
        </div>
      </div>
      <div class="FWslider__item">
        <div class="FWslider__item__bg">
          <img src="../../img/tramway_lego.jpg" alt="sample image">
        </div>
        <div class="FWslider__item__content">
          <h3>Lorem ipsum</h3>
          <p>Lorem ipsum dolor sit amet</p>
          <button>Lorem</button>
        </div>
      </div>
    </div>
  </div>
</div>