.filters{
  	.btn, .select2-container{margin-bottom: 0; margin-right: 0;}
  	.btn{line-height: 1.4em; padding-right: 1em; padding-left: 1em;}
  	label{white-space: nowrap;}
	.filter{margin: .1em; flex-grow: 1; flex-basis: 0;  flex-grow: 1; flex-basis: 0; min-width: 200px;}
	.select2-wrapper{ width: auto !important; @extend .filter;
		.filter,
		select,
		.select2-selection{margin: 0;}
	}
}
.filters__reset{cursor: pointer;font-size: 1.5rem; font-weight: 700; line-height: 1; color: #000; text-shadow: 0 1px 0 #fff; opacity: .5;margin: 0.5rem; min-width: 1.5rem; text-align: center;
	&:hover{text-decoration: none; opacity: .75;}
}

