/* RESET */
html{overflow-x: hidden; font-size: body(font-size); }
body {background: body(background);color:body(font-color);
  @if variable-exists(font-family){font-family:$font-family; }
}
:focus{outline: 0;}

table{table-layout: fixed;}
iframe{max-width:100%;}
img{max-width: 100%; height: auto;}

@import 'partials/utilities';
@import 'partials/spacings';
@import 'partials/backgrounds';
@import 'partials/borders';
@import 'partials/texts';
@import 'partials/fonts';
@import 'partials/images';
@import 'partials/buttons';
@import 'partials/inputs';
@import 'partials/flex';
@import 'partials/fx';


/* MISC */
#toast-container>div{box-shadow: none;}

pre{background: color(blacklight); color: color(white); padding: $spacing/2; border-radius: $radius; font-size: 0.8em; margin-bottom: $spacing;}
pre code{display: block; position: static;}
pre .copy{position: absolute; right: $spacing; @extend .btn-sm;}