<!-- <div class="scene">
  <div class="grid">
    <div class="brick" rows="3" cols="5" color="blacklight" z="1" x="0" y="0" text="Text sample"></div>
    <div class="brick" rows="2" cols="3" color="blacklighter" z="2" x="-0" y="-1"></div>
    <div class="brick" rows="1" cols="1" color="greystronger" z="3" x="0" y="-2"></div>
    <div class="brick" rows="3" cols="2" color="blue" z="2" x="0" y="2"></div>
  </div>
</div> -->


<div class="scene">
  <div class="grid">
    <div class="brick" rows="4" cols="4" color="blacklight" z="0" x="0" y="0" text="SMARTGEAR"></div>

    <div class="brick cover" rows="2" cols="3" color="blue" z="1" x="-1" y="0" text=""></div>
    <div class="brick cover" rows="4" cols="1" color="green" z="1" x="0" y="-2" text="" text-mode="vertical"></div>
    <div class="brick cover" rows="1" cols="1" color="orange" z="1" x="0" y="1" text=""></div>
    <div class="brick" rows="2" cols="2" color="gold" z="1" x="1" y="0" text=""></div>

    <div class="brick" rows="2" cols="2" color="blue" z="2" x="-1" y="-1" text=""></div>
    <div class="brick" rows="3" cols="2" color="darkblue" z="2" x="0" y="1" text=""></div>
    <div class="brick" rows="1" cols="2" color="orange" z="2" x="-2" y="1" text=""></div>
    <div class="brick" rows="2" cols="1" color="blacklighter" z="2" x="1" y="-2" text=""></div>
  </div>
</div>
<div class="scene">
  <div class="grid ">
    <div class="brick debug" rows="4" cols="4" color="blacklight" z="0" x="0" y="0" text="SMARTGEAR"></div>
  </div>
</div>