<div class="row">
  <div class="col">
    <div class="priceCard bg--orange content--darkblue">
      <div class="priceCard__wrapper">
        <div class="priceCard__title">Lorem ipsum</div>
        <div class="priceCard__price">
          <span class="priceCard__price__amount">150</span>
          <span class="priceCard__price__currency">€</span>
          <div class="priceCard__price__period">Par mois</div>
        </div>
        <div class="priceCard__content">
          <div class="priceCard__content__item">Dolor sit amet</div>
          <div class="priceCard__content__item">Amet dolor sit amet dolor sit</div>
          <div class="priceCard__content__item">Sit amet dolor</div>
        </div>
        <div class="priceCard__cta">
          <button class="btn-bg-blue btn-lg ft-l">CHECK OUT</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="priceCard bg--darkblue main">
      <div class="priceCard__wrapper">
        <div class="priceCard__title">Lorem ipsum</div>
        <div class="priceCard__price">
          <span class="priceCard__price__amount">150</span>
          <span class="priceCard__price__currency">€</span>
          <div class="priceCard__price__period">Par mois</div>
        </div>
        <div class="priceCard__content">
          <div class="priceCard__content__item">Dolor sit amet</div>
          <div class="priceCard__content__item">Amet dolor sit amet dolor sit</div>
          <div class="priceCard__content__item">Sit amet dolor</div>
          <div class="priceCard__content__item">Dolor sit amet</div>
        </div>
        <div class="priceCard__cta">
          <button class="btn-bg-blue btn-lg ft-l">CHECK OUT</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="priceCard bg--green content--darkblue">
      <div class="priceCard__wrapper">
        <div class="priceCard__title">Lorem ipsum</div>
        <div class="priceCard__price">
          <span class="priceCard__price__amount">150</span>
          <span class="priceCard__price__currency">€</span>
          <div class="priceCard__price__period">Par mois</div>
        </div>
        <div class="priceCard__content">
          <div class="priceCard__content__item">Dolor sit amet</div>
          <div class="priceCard__content__item">Amet dolor sit amet dolor sit</div>
          <div class="priceCard__content__item">Sit amet dolor</div>
          <div class="priceCard__content__item">Dolor sit amet</div>
          <div class="priceCard__content__item">Amet dolor sit amet dolor sit</div>
        </div>
        <div class="priceCard__cta">
          <button class="btn-bg-blue btn-lg ft-l">CHECK OUT</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="priceCard">
      <div class="priceCard__wrapper">
        <div class="priceCard__title">Lorem ipsum</div>
        <div class="priceCard__price">
          <span class="priceCard__price__amount">150</span>
          <span class="priceCard__price__currency">€</span>
          <div class="priceCard__price__period">Par mois</div>
        </div>
        <div class="priceCard__content">
          <div class="priceCard__content__item">Dolor sit amet</div>
          <div class="priceCard__content__item">Amet dolor sit amet dolor sit</div>
          <div class="priceCard__content__item">Sit amet dolor</div>
          <div class="priceCard__content__item">Dolor sit amet</div>
          <div class="priceCard__content__item">Amet dolor sit amet dolor sit</div>
          <div class="priceCard__content__item">Sit amet dolor</div>
        </div>
        <div class="priceCard__cta">
          <button class="btn-bg-blue btn-lg ft-l">CHECK OUT</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="constructor">
  <p>Misc</p>
  <p>Content properties</p>
  <div class="input select" data-label="Font color" data-attr="class" data-value="ft-#colors" data-output="#colors" data-selected="">
    Set the card's font color
  </div>
  <div class="input select" data-label="Background color" data-attr="class" data-value="bg--#colors" data-output="#colors" data-selected="bg--darkblue">
    Set the card's background color
  </div>
  <div class="input select" data-label="price & title color" data-attr="class" data-value="content--#colors" data-output="#colors" data-selected="">
    Set the card's price background color and title font color
  </div>
</div>